In [3]:
## written by mingijin
## Task for off-line study week 1
import numpy as np
import pandas as pd
import re
df = pd.read_csv("3-Airplane_Crashes_Since_1908.txt")

### 1 . Total accidents & Mean for survival rate

In [9]:
# total number
df.shape[0]

5268

In [10]:
# new columns for rate and mean value
df['rate'] = df['Fatalities']/df['Aboard']
df['rate'].mean()

0.83493159798252203

### 2. Accidents & Aboard & Fatalities by years

In [13]:
df["Date"].head()

0    09/17/1908
1    07/12/1912
2    08/06/1913
3    09/09/1913
4    10/17/1913
Name: Date, dtype: object

In [14]:
df["year"] = df["Date"].map(lambda x : x.split('/')[2])

In [15]:
df["year"].head()

0    1908
1    1912
2    1913
3    1913
4    1913
Name: year, dtype: object

In [44]:
# accidents by years
df["year"].value_counts().head()

1972    104
1968     96
1989     95
1967     91
1973     89
Name: year, dtype: int64

In [47]:
df['year'].unique()

array(['1908', '1912', '1913', '1915', '1916', '1917', '1918', '1919',
       '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927',
       '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935',
       '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943',
       '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951',
       '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967',
       '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009'], dtype=object)

In [73]:
# aboard & fatalities by year (ver. mingi)
%%timeit
data = {'year':[],'aboard':[],'fatalities':[]}
for year in df['year'].unique():
    ab_sum = df.loc[df['year']== year,'Aboard'].sum()
    fa_sum = df.loc[df['year']== year, 'Fatalities'].sum()
    data['year'].append(year)
    data['aboard'].append(ab_sum)
    data['fatalities'].append(fa_sum)
dataFrame = pd.DataFrame(data)
dataFrame.head()

1 loop, best of 3: 202 ms per loop

In [75]:
# # aboard & fatalities by year (ver. SJ)
%%timeit
year_list = df["year"].unique()
result_year = pd.DataFrame(index = year_list,
                           columns = ["Aboard","Fataltities"])
for year in year_list :
    temp = df[df["year"]==year]
    result_year.ix[year]["Aboard"] = temp["Aboard"].sum()
    result_year.ix[year]["Fatalities"] = temp["Fatalities"].sum()

1 loop, best of 3: 218 ms per loop

### 3. Accidents by top 15 Operator, Type, Location

In [16]:
%%timeit
df["Operator"].value_counts()[:15]
df["Type"].value_counts()[:15]
df["Location"].value_counts()[:15]

100 loops, best of 3: 4.42 ms per loop

### 4. Accident with top3 Operator by years

In [17]:
operators = df["Operator"].value_counts()[:3].index

In [19]:
for operator in operators:
    max1 = df.loc[df['Operator']== operator, 'year'].value_counts()[:1]
    print (operator, max1)

Aeroflot 1973    15
Name: year, dtype: int64
Military - U.S. Air Force 1952    11
Name: year, dtype: int64
Air France 1934    6
Name: year, dtype: int64

### 5. Maximun rate for survive by flight type

In [23]:
# calculate survival rates
df['rate'] = df['Fatalities']/df['Aboard']

In [24]:
flight_type = df['Type'].unique()
flight_type

array(['Wright Flyer III', 'Dirigible', 'Curtiss seaplane', ...,
       'Pilatus PC-6', 'Mi-35', 'Airbus A330-203'], dtype=object)

In [26]:
# numbers of filght type
flight_type.shape[0]

2447

In [196]:
# Means survival rate by flight type and find to 100 max valu
result_mean = pd.DataFrame(index = flight_type, 
                               columns = ["mean"])
for flight in flight_type:
    result_mean.ix[flight] = df.loc[df['Type']==flight, 'rate'].mean()

In [203]:
result_mean.sort_values(by ='mean')[:100]

                                             mean
Bell UH-1B Huey Helicopter                      0
North American F-100D-25NA                      0
Tupelov Tu-124                                  0
Sukhoi Su-27                                    0
Chance Vought F-8E                              0
Airbus A-330-243                                0
Cessna 172                                      0
Boeing B-737-3T5                                0
LTVF-8J                                         0
Grummand EA-6B                                  0
F-86 Sabrejet                                   0
GD F-16D / Lockheed C-130E                      0
Boeing B-747-466                                0
MDonnell Douglas MD-81                          0
BAC One-Eleven 528FL                            0
Ford 5-AT-D Tri-Motor                           0
MiG-23                                          0
Lockheed L-1011                                 0
Boeing B-767-233ER                              0
Boeing B-747-SP-09                              0
Boeing B-727-227                                0
Boeing B-737-3T0                                0
Airbus A-340                                    0
Boeing B-737-7H4                                0
Airbus A.320-214                                0
Boeing 777-236ER                                0
McDonnell Douglas DC-9-51                       0
Boeing B-747-209BSF                             0
Boeing  377 Stratocruiser                       0
Douglas DC-3 / Cessna 170B                      0
...                                           ...
Boeing B-727-2A7                        0.0363636
Boeing 377 Stratocruiser                 0.037037
Boeing B-737-2A1                        0.0372475
Boeing 737-286                             0.0375
Tupolev TU-154B-1                       0.0388878
McDonnell Douglas DC-9 and Cessna 150F  0.0392157
Boeing B-707-465                        0.0393701
de Havilland DH-106 Comet 4                  0.04
Boeing B-727-251 / MD Douglas DC-9-14    0.040404
Canadair CRJ-100ER                      0.0416667
Fokker F-28 Fellowship 3000RC           0.0491803
Sud Aviation SE 210 Caravelle III            0.05
Let 410UVP-E20                               0.05
Fokker 27 Friendship 200                     0.05
Transall C-160NG                        0.0526316
Handley Page HP-81 Hermes IV            0.0555556
Channel Air Bridge                      0.0555556
Vickers 610 Viking 1B                   0.0555556
Lockheed L-749 / Cessna 140             0.0571429
Aerospatiale ATR-42-512                 0.0588235
Handley Page HP-1 Hermes                   0.0625
Vickers 639 Viking 1                       0.0625
McDonnell Douglas DC-8-61               0.0636137
Hawker Siddeley HS-748-435 Srs. 2       0.0638298
Boeing 737-2M2                          0.0641026
Boeing B-737-2F9                        0.0656934
Boeing B-747-2B5B                       0.0663717
MDonnell Dougals DC-9                   0.0666667
Hawker Siddeley HS-748-235 Srs. 2A      0.0666667
Ford Tri-Motor 5                        0.0666667

[100 rows x 1 columns]

### 6. Accidents by departure & arrival locations

In [212]:
df['Route'].unique()

array(['Demonstration', 'Test flight', nan, ..., 'Rio de Janeiro - Paris',
       'Lourdes de BlanSablon - Port Hope Simpson', 'Mechuka for Jorhat'], dtype=object)

In [220]:
df['Route'][:-1]

0                                           Demonstration
1                                             Test flight
2                                                     NaN
3                                                     NaN
4                                                     NaN
5                                                     NaN
6                                                     NaN
7                                                     NaN
8                                                     NaN
9                                                     NaN
10                                                    NaN
11                                                    NaN
12                                                    NaN
13                                                    NaN
14                                                    NaN
15                                                    NaN
16                                                    NaN
17                                                    NaN
18                                                    NaN
19                                                    NaN
20                                                    NaN
21                                                    NaN
22                                                    NaN
23                                                    NaN
24                                                    NaN
25                                                    NaN
26                                                    NaN
27                                                    NaN
28                                                    NaN
29                                                    NaN
                              ...
5237                 Kampi ya Kanzi Airstrip - Loitokitok
5238                           al-Asad air base - Baghdad
5239                Vancouver - Powell River - Toba Inlet
5240                                             Training
5241                Tortola Virgin Islands - San Juan, PR
5242                           Sabine Pass - Oil Platform
5243          Santiago, Dominican Republi- Providenciales
5244                Bayou Penchant - Off shore oil fields
5245                          New York, NY- Charlotte, NC
5246                                        Coari - Manus
5247                                       Rome - Bologna
5248                           Newark, N.J. - Buffalo, NY
5249                                                  NaN
5250    Entebbe, Uganda - Luxor, Egypt - Niklaev, Ukraine
5251            Istanbul, Turkey - Amsterdam, Netherlands
5252                 Entebbe, Uganda - Mogadishu, Somalia
5253                        St. Johns - Hibernia platform
5254                             Oroville, CA - Butte, MT
5255                      Guangzhou, China - Tokyo, Japan
5256                              Miller field - Aberdeen
5257                                   Militiary training
5258                                    Jayapura - Wamena
5259                                        Ilaga - Mulia
5260                                   Canaima - Porlamar
5261    Bangui, CAR- Brazzaville, Congo - Harare, Zimb...
5262                                               Patrol
5263                                     Jakarta - Maduin
5264                                         Goma - Isiro
5265                               Rio de Janeiro - Paris
5266            Lourdes de BlanSablon - Port Hope Simpson
Name: Route, dtype: object

In [260]:
# find departure and arrival location with 'Route'
df['departure'] = df['Route'].map(lambda x : x.split('-')[0].split(',')[0] if (pd.notnull(x)) and x !='training' else np.nan)
df['arrival'] = df['Route'].map(lambda x : x.split('-')[-1].split(',')[0] if (pd.notnull(x)) and x !='training'else np.nan)

In [261]:
df.tail()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary,year,departure,arrival
5263,05/20/2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras...",2009,Jakarta,Maduin
5264,05/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...,2009,Goma,Isiro
5265,06/01/2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...,2009,Rio de Janeiro,Paris
5266,06/07/2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...,2009,Lourdes de BlanSablon,Port Hope Simpson
5267,06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...,2009,Mechuka for Jorhat,Mechuka for Jorhat

In [262]:
df['departure'].value_counts()[:15]

Training          81
New York City     41
Paris             34
Sightseeing       29
Rome              29
Bogota            28
Chicago           27
London            27
Moscow            25
Sao Paulo         21
Manila            19
Los Angeles       19
Miami             19
Cairo             18
Test flight       17
Name: departure, dtype: int64

In [263]:
df['arrival'].value_counts()[:15]

Training          81
 Paris            37
 Chicago          33
 Los Angeles      30
 New York City    30
 London           30
Sightseeing       29
 Miami            23
 Cairo            18
 Rome             18
 Bogota           18
 Manila           17
Test flight       17
 Moscow           16
 La Paz           16
Name: arrival, dtype: int64

### 7. Accidents by times

In [27]:
# function for handling exception format
def pre_time(x):
    if pd.isnull(x):
        return x
    else:
        x = re.sub("[.,',\,]",":",x)
        x = re.sub("c:?","",x)
        xs = x.split(":")
        if len(xs) == 1:
            return int(xs[0][0:2])
        else:    
            if len(xs[0]) > 2 :
                return int(xs[0][-3:-1])
            else :
                return int(xs[0])

# re-express data on 'Time'columns
df['hour'] = df['Time'].map(pre_time)
df.tail()
df['hour'].value_counts()

9.0     187
19.0    181
11.0    172
15.0    171
10.0    167
14.0    167
12.0    166
13.0    157
16.0    157
17.0    156
20.0    154
18.0    147
8.0     141
7.0     132
23.0    111
21.0    108
22.0    106
6.0      85
2.0      80
1.0      67
4.0      65
0.0      63
5.0      60
3.0      49
Name: hour, dtype: int64